<!-- Introduction template -->
<script type="text/template" id="intro">
	<h2>我有一個問題！</h2>
	<p>鍵入你們的名字</p>
</script>
<!-- Question Display Template -->
<script type="text/template" id="question-display">
	<h2><%= question.get("category")%>-<%= question.get("title") %></h2>
	值: <%= question.get("points") %>
	<p><%= question.get("question")%></p>
	<ul>
	<% var answers = question.get("answers");
	   for (var i = 0; i < answers.length; i++) { %>
	       <li><input id="answer-<%= i %>" name="ans" class="answers" type="radio" value="<%= i %>"><%= answers[i] %></input><li>
	<% }; %>
	</ul>
	<button id="answer">回答</button>
</script>
<!-- Questions List Template -->
<script type="text/template" id="questions-list">
	<% for (var cat in categories) { %>
	       <div class="item category" id="category-<%= cat %>">
	           <div class="item header" id="category-header-<%= cat %>"> 
		           <em><%= cat %></em>
			   </div>
		<% for (var i = 0; i < categories[cat].length; i++) {
		       var model = categories[cat][i]; 
		       var extra = typeof(model.get("answered")) == "undefined"?"":
		                       (model.get("answered")?"correct":"incorrect");%>
		       <div class="item question <%= extra %> category-<%= cat %>" id="<%= model.get("id") %>">
			       <em><%= model.get("title") %></em> - 
			       <span><%= model.get("points") %></span>
		       </div>
		<% }; %>
		</div>
	<% }; %>
</script>
<!-- Show players -->
<script type="text/template" id="show-players">
	<h2>人:</h2>
	<ul>
	<% players.each(function(play) { 
		var clazz = players.isCurrent(play)?"current-player":""; %>
		<li class="<%= clazz %>"><span class="name"><%= play.get("name") %></span><span class="score"><%= play.get("score") %></span></li>
    <%         }); %>
    </ul>
    
</script>
<!-- Add players -->
<script type="text/template" id="add-player">
	<ul>
        <li><input id="new-player"></input><button id="add">加人</button></li>
    </ul>
    
</script>
<!-- Right -->
<script type="text/template" id="right">
	<h2>對對對啊！</h2>
	<img src="imgs/right.png"></img>
	<p> 是<em>'<%= question.get("answers")[question.get("answer")] %>'</em>你加<em><%= question.get("points") %></em>!</p>
</script>
<!-- Wrong -->
<script type="text/template" id="wrong">
	<h2>不是</h2>
	<img src="imgs/wrong.png"></img>
	<p> 不是<em>'<%= question.get("answers")[guess] %>'</em>是<em>'<%= question.get("answers")[question.get("answer")]  %>'</em>!</p>
</script>
<!-- Winner -->
<script type="text/template" id="winner">
	<h2>We have a winner</h2>
	<img src="imgs/winner.png"></img>
	<p> 人: <%= player %>贏，有<%= score %>!</p>
</script>
<!-- Winner -->
<script type="text/template" id="winners">
	<h2>We have winners</h2>
	<img src="imgs/winners.png"></img>
	<p> 人: <%= players %>贏，有<%= score %>!</p>
</script>
