<!-- Question Display Template -->
<script type="text/template" id="question-display">
	<h2><%= question.get("category")%>-<%= question.get("title") %></h2>
	Value: <%= question.get("points") %>
	<p><%= question.get("question")%></p>
	<% var answers = question.get("answers");
	   for (var i = 0; i < answers.length; i++) { %>
	       <input id="answer-<%= i %>" type="radio" value="<%= i %>"><%= answers[i] %></input>
	<% }; %>
	<button id="answer">Submit Answer</button>
</script>
<!-- Questions List Template -->
<script type="text/template" id="questions-list">
	<h2>Select a Question</h2>
	<% for (var cat in categories) { %>
	       <div class="category category-<%= cat %>" id="category-<%= cat %>-header">
		       <em><%= cat %></em>

		<% for (var i = 0; i < categories[cat].length; i++) {
		       var model = categories[cat][i]; %>
		       <div class="question category-<%= cat %>" id="<%= model.get("id") %>">
			       <em><%= model.get("title") %></em>
			       <span><%= model.get("points") %></span>
		       </div>
		<% }; %>
		</div>
	<% }; %>
</script>
